body{
    margin: 0;
    height: 100%;
    color: #E89B5C;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow:  hidden;
}
html{
    height: 100%;
}
#mainTile{
    text-align: center;
    z-index: 1;
}
.tile{
    height: 100%;
}
#content{
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
    overflow-y: auto;
}
#logo{
    padding: 5px;
    height: 60%;
    display: inline-block;
    margin-right: 10vh;
    box-shadow: 0 0 15px black;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 3px;
    z-index: 10;
    
}
#logo img{
    border: 1px solid gray;
    height: 98%;
}
#infoTable{
    display: inline-block;
    margin-left: 5%;
    padding-top: 20px;
}
#phrase, #contact, #subPhrase{
    background-color: rgba(0,0,0,0.65);
    border-radius: 3px;
    color: #E89B5C;
    padding: 0px 10px 1px 10px;
    margin-bottom: 8px;
}
#phrase{
    font-size: 2vw;
}
#phrase h1, #contact h3, #subPhrase h3{
    font-weight: 400;
    margin: 0;
}

#contact{
    float: right;
    max-width: 85%;
    padding: 0px 5px 3px 5px;
}
#contact h3{
    margin: 0;
    font-size: 20px;
}
.vCent{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;
    /*Credit to
    http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/*/
}
#parallax{
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
#parImg{
    max-width:100%;
}
.white{
    background-color: white;
}
.tileHead{
    width: 80%;
    text-align: center;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #E89B5C;
    margin: 0 0 30px 10%;
}
.opaqueTileHead{
    width: 60%;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 50px 0 0 20%;
    border-bottom: 1px solid #E89B5C;
}
.subject{
    
}
#header{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 30px;
    height: 8%;
    width: 100%;
/*    text-align: center;*/
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 10px black;
    z-index:1;
}
a, a:active, a:hover{
    text-decoration: none;
    color: inherit;
}
#enquire{
    display: none;
}
.link, #enquiry, #contact{
    height: 100%;
    display: inline-block;
    vertical-align: top;
}
.link div{
    height: 100%;
}
.link h2{
    font-size: 20px;
    color: white;
    margin: 0;
}
.link, #enquiry{
    padding: 0 20px 0 20px;
}
.link:hover, #enquiry:hover{
    background-color: rgba(0,0,0,0.3);
}
#enquiry{
    position: absolute;
    right: 15px;
}
#makeEnquiry{
    margin: 0;
    color: #2A9D8F;
    font-size: 20px;
    border: 4px solid #2A9D8F;
    cursor: pointer;
    user-select: none;
}
.subject{
    width: 20vw;
    height: 20vw;
    margin: 0 2vw 0 2vw;
    display: inline-block;
    border-radius: 100000000px;
    box-shadow: 0 0 10px black;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    margin-top: 12vh;
}
.tutor{
    width: 20vw;
    height: 20vw;
    margin: 0 2vw 0 2vw;
    display: inline-block;
/*    border-radius: 100000000px;*/
    box-shadow: 0 0 10px black;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    margin-top: 12vh;
    background-color:  #3F292B;
}
.brown{
    background-color: #3F292B;
}
.brownText{
    color: #3F292B;
    border-color: #3F292B;
}
.lightBrown{
    background-color: #A37B73;
}
.orange{
    background-color: #E89B5C
}
.tile{
    text-align: center;
    overflow: auto;
}
.noOverflow{
    overflow: hidden;
}
.subjImage{
    width: 100%;
    height: 100%;
}
.tutorImage{
    width: 90%;
    margin-top: 5%;
    box-shadow: 0 0 5px black;
}
.subjTitle{
    width: 100%;
    position: relative;
    margin-top: -4vw;
    background-color: white;
    font-size: 2vw;
}
.tutorTitle{
    width: 100%;
    position: relative;
    margin-top: -3vw;
    font-size: 2vw;
    background-color: #3F292B;
}
#subPhrase{
    float: left;
    max-width: 85%;
    padding: 0 5px 3px 5px;
}
#titleTable{
    display: inline-block;
    margin-left: 5%;
    padding-top: 20px;
    float: left;
}   
.leftTileHead{
    padding: 15px 100px 15px 20px;
    border-bottom: 1px solid #E89B5C;
    margin: 0;
    display: table;
}
.large{
    font-size: 30px;
}
.subjects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 25% 0 25%;
    overflow-y: auto;
    min-height: 150px;
}
.squish{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.fill{
    flex: 1 1 auto;
}
.solid{
    flex: 0 1 auto;
}
.miniTutor{
    width: 5vw;
    height: 5vw;
    display: inline-block;
/*    border-radius: 100000000px;*/
    box-shadow: 0 0 10px black;
    background-size: cover;
    overflow: hidden;
    cursor: pointer;
    vertical-align: top;
    margin: 0 1vw 0 1vw;
    background-color:  #3F292B;
}
.miniTutorImage{
    width: 90%;
    margin-top: 5%;
    box-shadow: 0 0 5px black;
}
.miniTutorTitle{
    width: 100%;
    position: relative;
    margin-top: -3vw;
    font-size: 1vw;
    background-color: #3F292B;
    color: #E89B5C;
}
.subjects h3{
    margin: 0 0 10px 0;
    display: table;
    width: auto;
    text-align: center;
}
.subCont{
    overflow-x: auto;
}
.tutorInfo{
/*    width: 100%;*/
}
.clear{
    background: none;
}
.half{
    text-align: center;
    height: 100%;
    width: 50%;
    margin-right: -5px;
    vertical-align: top;
    float: left;
}
.half h2{
    background-color: rgba(0,0,0,0.65);
    display: table;
    margin: 0 auto 10px auto;
    font-size: 30px;
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
}
.infoHolder{
    background-color: rgba(0,0,0,0.65);
    border-radius: 3px;
    width: 80%;
    margin-left: 10%;
    text-align: left;
}
.half p{
    padding: 10px;
}
.tutorLargeImage{
    height: 90%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5%;
    padding: 20px;
    box-sizing: border-box;
}
.tutorLargeImage img{
    height: 100%;
}
.bar{
    height: 20%;
    width: 100%;
}
form label{
    display: block;
    font-weight: 600;
}
form input{
    margin-bottom: 5px;
    display: block;
}
textarea:focus, input:focus{
    outline: none;
    border-color: #E89B5C;
}